body {
  overflow-x: hidden;
}

header {
  position: fixed;
  width: 100%;
  background: linear-gradient(135deg, #2a3856 0%, #1d031e 100%);
  height: 7rem;
  border-bottom: 2px solid #c1c1c19c;
  z-index: 9;
}

header #container {
  width: 1280px;
  margin: 0 auto;
  height: 100%;
}

header #container .upMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 100%;
}

header #container .upMenu nav {
  color: white;
}

header #container .upMenu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header #container .upMenu nav ul li {
  list-style-type: none;
}

header #container .upMenu nav ul li a {
  padding: 0 1rem;
  text-decoration: none;
  color: #f5f5f5;
  font-weight: 400;
  font-size: 2rem;
}

header #container .upMenu nav ul li a i {
  padding: 0 0 0 0.4rem;
}

header #container .upMenu nav ul li a:hover i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

header #container .upMenu .search-wallet {
  font-size: 2rem;
}

header #container .upMenu .search-wallet > i {
  color: white;
  margin-right: 1rem;
}

header #container .upMenu .search-wallet button {
  outline: none;
  background: transparent;
  border: 1px solid #5142fb;
  border-radius: 2rem;
  padding: 0.6rem 1.4rem;
  color: white;
  font-family: inherit;
  font-size: 1.6rem;
  cursor: pointer;
}

header #container .upMenu .search-wallet button a {
  text-decoration: none;
  color: white;
}

header #container .upMenu .search-wallet button i {
  margin-right: 1rem;
}

header #container .upMenu .search-wallet button:hover {
  background-color: #74c000;
  text-decoration: none;
  border: 2px solid #74c000;
}

header #container .upMenu .light-dark button {
  background-color: #ffffff7d;
  border: 0;
  outline: none;
  padding: 0.3rem;
  border-radius: 0.4rem;
  color: white;
  font-size: 1.9rem;
  cursor: pointer;
}

header #container .upMenu img {
  width: 14rem;
}

main {
  background-color: #0000007d;
}

main section#hero {
  width: 1280px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6rem 0;
}

main section#hero .left-hero {
  color: white;
  padding: 5rem 0;
}

main section#hero .left-hero h2 {
  color: white;
  font-size: 7rem;
  font-weight: 600;
}

main section#hero .left-hero h2 span {
  background: -webkit-gradient(linear, left top, left bottom, from(#C56CD6), to(#3425AF));
  background: linear-gradient(180deg, #C56CD6 0%, #3425AF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main section#hero .left-hero p {
  font-weight: 200;
  font-size: 2rem;
  padding: 2rem 0;
}

main section#hero .left-hero .expo-create button {
  outline: none;
  background: transparent;
  border: 2px solid #5142fb;
  border-radius: 2rem;
  padding: 0.6rem 2.4rem;
  color: white;
  font-family: inherit;
  font-size: 1.9rem;
  cursor: pointer;
}

main section#hero .left-hero .expo-create button:hover {
  background-color: #74c000;
  border: 2px solid #74c000;
}

main section#hero .right-hero img {
  width: 80%;
  -webkit-animation: axies-hero 4s infinite;
          animation: axies-hero 4s infinite;
}

main section#our-service {
  width: 1280px;
  margin: 3rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

main section#our-service div {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

main section#our-service div p {
  text-align: center;
  font-weight: 200;
  padding: 0 0 3rem 0;
  font-size: 1.6rem;
}

main section#our-service div i {
  font-size: 3rem;
  padding: 1.3rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

main section#our-service div h4 {
  font-size: 2.4rem;
  padding: 1rem 0;
  font-weight: 500;
}

main section#our-service div:hover {
  -webkit-box-shadow: 0 0 1rem blue;
          box-shadow: 0 0 1rem blue;
  border-radius: 1rem;
}

main section#our-service div:nth-child(1) i {
  background-color: #5142fb;
}

main section#our-service div:nth-child(2) i {
  background-color: #74c000;
}

main section#our-service div:nth-child(3) i {
  background-color: purple;
}

main section#our-service div:nth-child(4) i {
  background-color: orangered;
}

main section#live-action {
  background-color: #040505b3;
  padding: 2rem 0;
}

main section#live-action .live-auction-bar {
  width: 1280px;
  margin: 3rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section#live-action .live-auction-bar .live-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  color: white;
  padding: 0 0 2rem;
}

main section#live-action .live-auction-bar .live-control h3 {
  font-size: 4rem;
  font-weight: 500;
}

main section#live-action .live-auction-bar .live-control h5 {
  text-transform: uppercase;
  font-size: 1.9rem;
  border-bottom: 2px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(135deg, #C56CD6 0%, #3425AF 100%);
  font-weight: 400;
}

main section#live-action .live-auction-bar .live-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

main section#live-action .live-auction-bar .live-cards .cards {
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  align-items: center;
  background-color: #343444;
  padding: 2rem;
  border-radius: 2rem;
  margin: 0 0.8rem;
}

main section#live-action .live-auction-bar .live-cards .cards > img {
  border-radius: 2rem;
  width: 26rem;
  margin: 0 auto;
  -webkit-transition: all 1s;
  transition: all 1s;
}

main section#live-action .live-auction-bar .live-cards .cards .timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-transition: all 1s;
  transition: all 1s;
  width: 48%;
  padding: 0.5rem;
  background-color: #343444;
  border-radius: 1rem;
  color: white;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 1.4rem;
}

main section#live-action .live-auction-bar .live-cards .cards .timer i {
  color: #f44336;
}

main section#live-action .live-auction-bar .live-cards .cards .place-bid {
  background-color: white;
  padding: 0.6rem 3rem;
  font-size: 1.6rem;
  border-radius: 1rem;
  position: absolute;
  top: 90px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 1s;
  transition: all 1s;
}

main section#live-action .live-auction-bar .live-cards .cards .place-bid i {
  color: #5142fb;
}

main section#live-action .live-auction-bar .live-cards .cards h3 {
  color: white;
  padding: 2rem 0;
  font-size: 1.7rem;
  font-weight: 500;
}

main section#live-action .live-auction-bar .live-cards .cards h3 a {
  color: inherit;
  text-decoration: none;
}

main section#live-action .live-auction-bar .live-cards .cards h3 a:hover {
  text-decoration: underline;
}

main section#live-action .live-auction-bar .live-cards .cards .live-creator {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #242431;
  padding: 0 0 2rem 0;
}

main section#live-action .live-auction-bar .live-cards .cards .live-creator > img {
  border-radius: 2rem;
  width: 25%;
}

main section#live-action .live-auction-bar .live-cards .cards .live-creator .creator-info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 1rem;
  color: white;
  font-size: 1.4rem;
}

main section#live-action .live-auction-bar .live-cards .cards .live-creator button {
  outline: none;
  background: #5142fb;
  border: 0;
  padding: 0.3rem 1rem;
  border-radius: 1rem;
  color: white;
  cursor: pointer;
}

main section#live-action .live-auction-bar .live-cards .cards .current-bid {
  width: 100%;
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

main section#live-action .live-auction-bar .live-cards .cards .current-bid .bid p {
  font-size: 1.6rem;
  font-weight: 200;
}

main section#live-action .live-auction-bar .live-cards .cards .current-bid .bid h4 {
  font-size: 2rem;
}

main section#live-action .live-auction-bar .live-cards .cards .current-bid .bid h4 span {
  font-weight: 200;
}

main section#live-action .live-auction-bar .live-cards .cards .current-bid button {
  background-color: #14141f;
  outline: 0;
  border: 0;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
}

main section#live-action .live-auction-bar .live-cards .cards:hover {
  -webkit-transition: background-color 1s ease;
  transition: background-color 1s ease;
  background-color: #4568DC;
}

main section#live-action .live-auction-bar .live-cards .cards:hover .place-bid {
  opacity: 1;
  visibility: visible;
  top: 160px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

main section#popular {
  background-color: #14141f;
}

main section#popular .popular-section {
  width: 1280px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 3rem 0;
  color: white;
}

main section#popular .popular-section .popular-bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 3rem 0;
}

main section#popular .popular-section .popular-bar h3 {
  font-size: 4rem;
  font-weight: 500;
}

main section#popular .popular-section .popular-bar h5 {
  text-transform: uppercase;
  font-size: 1.9rem;
  border-bottom: 2px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(135deg, #C56CD6 0%, #3425AF 100%);
  font-weight: 400;
}

main section#popular .popular-section .popular-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section#popular .popular-section .popular-cards .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 2rem;
  background: #343444;
  margin: 0 2rem;
  border-radius: 1rem;
}

main section#popular .popular-section .popular-cards .cards .popular-gallery .top-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main section#popular .popular-section .popular-cards .cards .popular-gallery .top-images img {
  -ms-flex-preferred-size: 185px;
      flex-basis: 185px;
  width: 18rem;
  padding: 0.4rem;
  border-radius: 1rem;
  padding: 0.4rem;
  border-radius: 1rem;
}

main section#popular .popular-section .popular-cards .cards .popular-gallery .bottom-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main section#popular .popular-section .popular-cards .cards .popular-gallery .bottom-images img {
  width: 12rem;
  padding: 0.4rem;
  border-radius: 1rem;
}

main section#popular .popular-section .popular-cards .cards .popular-info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  font-size: 1.3rem;
  margin: 2rem 0;
}

main section#popular .popular-section .popular-cards .cards .popular-info img {
  border-radius: 2rem;
  width: 7rem;
}

main section#popular .popular-section .popular-cards .cards .popular-info > i {
  color: greenyellow;
  position: absolute;
  bottom: 0;
  left: 62px;
  font-size: 1.5rem;
}

main section#popular .popular-section .popular-cards .cards .popular-info .popular-name {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 1rem;
}

main section#popular .popular-section .popular-cards .cards .popular-info p span {
  font-weight: bold;
}

main section#popular .popular-section .popular-cards .cards .popular-info button {
  border: 0;
  outline: 0;
  background: #000000b3;
  padding: 0.6rem 1.5rem;
  color: white;
  border-radius: 1rem;
}

main section#popular .popular-section .popular-cards .cards:hover {
  background-color: #093028;
}

main section#top-seller {
  background-color: #14141f;
}

main section#top-seller .top-seller-container {
  width: 1280px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 3rem 0;
  color: white;
}

main section#top-seller .top-seller-container > h3 {
  font-size: 4rem;
  font-weight: 500;
}

main section#top-seller .top-seller-container .top-seller-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: start;
  padding: 4rem 0px;
  width: 100%;
  padding: 1.5rem 0;
}

main section#top-seller .top-seller-container .top-seller-list > div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1.5rem 0;
  width: 100%;
}

main section#top-seller .top-seller-container .top-seller-list > div img {
  border-radius: 4rem;
  width: 10rem;
}

main section#top-seller .top-seller-container .top-seller-list > div > div {
  padding-left: 0.5rem;
}

main section#top-seller .top-seller-container .top-seller-list > div > div h3 {
  font-size: 1.5rem;
}

main section#top-seller .top-seller-container .top-seller-list > div > div p {
  font-size: 1.2rem;
}

main section#top-seller .top-seller-container .top-seller-list > div i {
  position: absolute;
  bottom: 3%;
  right: 50%;
  font-size: 3rem;
  color: #6e5afc;
}

main section#today-pick {
  background-color: #14141f;
  padding: 3rem 0;
  color: white;
}

main section#today-pick .today-pick-bar {
  width: 1280px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main section#today-pick .today-pick-bar .today-pick-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section#today-pick .today-pick-bar .today-pick-header h3 {
  font-size: 4rem;
  font-weight: 500;
}

main section#today-pick .today-pick-bar .today-pick-header h5 {
  text-transform: uppercase;
  font-size: 1.9rem;
  border-bottom: 2px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(135deg, #C56CD6 0%, #3425AF 100%);
  font-weight: 400;
}

main section#today-pick .today-pick-bar .today-pick-filter {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 1rem 0;
  margin: 1rem 0;
}

main section#today-pick .today-pick-bar .today-pick-filter .today-filter {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
}

main section#today-pick .today-pick-bar .today-pick-filter .today-filter button {
  outline: 0;
  border: 0;
  background: transparent;
  color: white;
  padding: 0.4rem 1rem;
  font-size: 2rem;
  font-family: inherit;
  border: 1px solid #737282;
  border-radius: 3rem;
  padding: 0.8rem 1rem;
  margin: 0 0.5rem;
}

main section#today-pick .today-pick-bar .today-pick-filter .today-filter button:first-child {
  margin: 0 0.5rem 0 0;
}

main section#today-pick .today-pick-bar .today-pick-filter .today-filter i {
  padding-right: 0.3rem;
}

main section#today-pick .today-pick-bar .today-pick-filter .today-sort button {
  outline: 0;
  border: 0;
  background: transparent;
  color: white;
  padding: 0.4rem 1rem;
  font-size: 2rem;
  font-family: inherit;
  border: 1px solid #737282;
  border-radius: 3rem;
  padding: 0.8rem 1rem;
}

main section#today-pick .today-pick-bar .today-pick-filter .today-sort button i {
  padding-right: 1rem;
}

main section#today-pick .today-pick-bar .today-pick-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
}

main section#today-pick .today-pick-bar .today-pick-card .cards {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  align-items: center;
  background: #343444;
  padding: 2rem;
  border-radius: 2rem;
  margin: 0 0.8rem 1rem 0;
  padding: 1.5rem;
}

main section#today-pick .today-pick-bar .today-pick-card .cards > img {
  border-radius: 2rem;
}

main section#today-pick .today-pick-bar .today-pick-card .cards > span {
  padding: 0.6rem 1rem;
  background-color: #000000c7;
  border-radius: 1rem;
  position: absolute;
  top: 4rem;
  right: 4rem;
  font-size: 1.4rem;
}

main section#today-pick .today-pick-bar .today-pick-card .cards .timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 48%;
  padding: 0.5rem;
  background-color: #343444;
  border-radius: 1rem;
  color: white;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 1.4rem;
}

main section#today-pick .today-pick-bar .today-pick-card .cards .timer i {
  color: #f44336;
}

main section#today-pick .today-pick-bar .today-pick-card .cards .place-bid {
  background-color: white;
  padding: 0.6rem 3rem;
  font-size: 1.6rem;
  border-radius: 1rem;
  position: absolute;
  top: 90px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 1s;
  transition: all 1s;
}

main section#today-pick .today-pick-bar .today-pick-card .cards .place-bid i {
  color: #5142fb;
}

main section#today-pick .today-pick-bar .today-pick-card .cards h3 {
  color: white;
  padding: 2rem 0;
  font-size: 1.7rem;
  font-weight: 500;
}

main section#today-pick .today-pick-bar .today-pick-card .cards h3 a {
  color: inherit;
  text-decoration: none;
}

main section#today-pick .today-pick-bar .today-pick-card .cards h3 a:hover {
  text-decoration: underline;
}

main section#today-pick .today-pick-bar .today-pick-card .cards .live-creator {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #242431;
  padding: 0 0 2rem 0;
}

main section#today-pick .today-pick-bar .today-pick-card .cards .live-creator > img {
  border-radius: 2rem;
  width: 25%;
}

main section#today-pick .today-pick-bar .today-pick-card .cards .live-creator .creator-info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 1rem;
  color: white;
  font-size: 1.4rem;
}

main section#today-pick .today-pick-bar .today-pick-card .cards .live-creator button {
  outline: none;
  background: #5142fb;
  border: 0;
  padding: 0.3rem 1rem;
  border-radius: 1rem;
  color: white;
  cursor: pointer;
}

main section#today-pick .today-pick-bar .today-pick-card .cards .current-bid {
  width: 100%;
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

main section#today-pick .today-pick-bar .today-pick-card .cards .current-bid .bid p {
  font-size: 1.6rem;
  font-weight: 200;
}

main section#today-pick .today-pick-bar .today-pick-card .cards .current-bid .bid h4 {
  font-size: 1.6rem;
}

main section#today-pick .today-pick-bar .today-pick-card .cards .current-bid .bid h4 span {
  font-weight: 200;
}

main section#today-pick .today-pick-bar .today-pick-card .cards .current-bid button {
  font-size: 1.6rem;
  font-family: inherit;
  background-color: inherit;
  outline: 0;
  border: 0;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
}

main section#today-pick .today-pick-bar .today-pick-card .cards .current-bid button i {
  padding-right: 0.4rem;
}

main .share-v {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 3rem;
  left: 30px;
  background-color: #000050;
  top: 140px;
  padding: 2rem;
  border-radius: 1rem;
  color: white;
  font-size: 2rem;
  -webkit-box-shadow: inset 0px -7px 7px purple;
          box-shadow: inset 0px -7px 7px purple;
}

main .share-v span {
  margin-bottom: 0.3rem;
  padding: 0.4rem;
  margin-bottom: 0.4rem;
}

main .share-v span:hover {
  background-color: blueviolet;
  padding: 0.4rem;
  border-radius: 3rem;
  cursor: pointer;
}

footer {
  background-color: #0d0d12;
  color: white;
}

footer .footer-container {
  width: 1280px;
  padding: 4rem 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

footer .footer-container .about-us-footer p {
  font-size: 1.4rem;
  font-weight: 300;
}

footer .footer-container .my-account-footer h4,
footer .footer-container .resourse-footer h4,
footer .footer-container .company-footer h4,
footer .footer-container .suscribe-footer h4 {
  font-size: 2rem;
}

footer .footer-container .my-account-footer ul,
footer .footer-container .resourse-footer ul,
footer .footer-container .company-footer ul,
footer .footer-container .suscribe-footer ul {
  padding: 2rem 0;
}

footer .footer-container .my-account-footer ul li,
footer .footer-container .resourse-footer ul li,
footer .footer-container .company-footer ul li,
footer .footer-container .suscribe-footer ul li {
  list-style-type: none;
  font-size: 1.6rem;
  padding: 0.3rem 0;
  font-weight: 300;
}

footer .footer-container .suscribe-footer {
  position: relative;
}

footer .footer-container .suscribe-footer input[type=text] {
  width: 100%;
  outline: 0;
  border: 0;
  padding: 1rem;
  border-radius: 0.3rem;
  background: #ffffff24;
}

footer .footer-container .suscribe-footer button {
  position: absolute;
  right: 0;
  bottom: 89px;
  background-color: #3f51b5;
  width: 35px;
  height: 35px;
  outline: 0;
  border: 0;
  padding: 1rem;
  border-radius: 1rem;
}

footer .footer-container .suscribe-footer button i {
  color: white;
}

footer .footer-container .footer-social {
  margin: 2rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto auto;
}

footer .footer-container .footer-social span {
  color: white;
  font-size: 2rem;
  margin: 0.3rem;
  padding: 0.6rem 0.7rem;
  background: #4f4f4f;
  border-radius: 0.6rem;
}
/*# sourceMappingURL=style.css.map */