//variables
$width:1280px;
//custom
body {
    overflow-x: hidden;
}

header {
    position: fixed;
    width: 100%;
    background: linear-gradient(135deg, #2a3856 0%, #1d031e 100%);
    height: 7rem;
    border-bottom: 2px solid #c1c1c19c;
    z-index: 9;
    #container {
        width: $width;
        margin: 0 auto;
        height: 100%;
        .upMenu {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: nowrap;
            height: 100%;
            nav {
                color: white;
                ul {
                    display: flex;
                    li {
                        list-style-type: none;
                        a {
                            padding: 0 1rem;
                            text-decoration: none;
                            color: #f5f5f5;
                            font-weight: 400;
                            font-size: 2rem;
                            i {
                                padding: 0 0 0 0.2rem;
                            }
                        }
                    }
                }
            }
            .search-wallet {
                font-size: 2rem;
                >i {
                    color: white;
                    margin-right: 1rem;
                }
                button {
                    outline: none;
                    background: transparent;
                    border: 1px solid #5142fb;
                    border-radius: 2rem;
                    padding: 0.6rem 1.4rem;
                    color: white;
                    font-family: inherit;
                    font-size: 1.6rem;
                    cursor: pointer;
                    i {
                        margin-right: 1rem;
                    }
                }
                button:hover {
                    background-color: #74c000;
                    border: 2px solid #74c000;
                }
            }
            .light-dark {
                button {
                    background-color: #ffffff7d;
                    border: 0;
                    outline: none;
                    padding: 0.3rem;
                    border-radius: 0.4rem;
                    color: white;
                    font-size: 1.9rem;
                    cursor: pointer;
                }
            }
            img {
                width: 14rem;
            }
        }
    }
}

main {
    background-color: #0000007d;
    section#hero {
        width: $width;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 6rem 0;
        .left-hero {
            color: white;
            padding: 5rem 0;
            h2 {
                color: white;
                font-size: 7rem;
                font-weight: 600;
                span {
                    background: linear-gradient(180deg, #C56CD6 0%, #3425AF 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            p {
                font-weight: 200;
                font-size: 2rem;
                padding: 2rem 0;
            }
            .expo-create {
                button {
                    outline: none;
                    background: transparent;
                    border: 2px solid #5142fb;
                    border-radius: 2rem;
                    padding: 0.6rem 2.4rem;
                    color: white;
                    font-family: inherit;
                    font-size: 1.9rem;
                    cursor: pointer;
                }
                button:hover {
                    background-color: #74c000;
                    border: 2px solid #74c000;
                }
            }
        }
        .right-hero {
            img {
                width: 80%;
                animation: axies-hero 4s infinite
            }
        }
    }
    section#our-service {
        width: $width;
        margin: 3rem auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        div {
            color: white;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: center;
            align-items: center;
            padding: 0 1rem;
            p {
                text-align: center;
                font-weight: 200;
                padding: 0 0 3rem 0;
                font-size: 1.6rem;
            }
            i {
                font-size: 3rem;
                padding: 1.3rem;
                border-radius: 1rem;
                margin-bottom: 1rem;
            }
            h4 {
                font-size: 2.4rem;
                padding: 1rem 0;
                font-weight: 500;
            }
        }
        div:nth-child(1) {
            i {
                background-color: #5142fb;
            }
        }
        div:nth-child(2) {
            i {
                background-color: #74c000;
                ;
            }
        }
        div:nth-child(3) {
            i {
                background-color: purple;
            }
        }
        div:nth-child(4) {
            i {
                background-color: orangered;
            }
        }
    }
    section#live-action {
        background-color: #040505b3;
        padding: 2rem 0;
        .live-auction-bar {
            width: $width;
            margin: 3rem auto;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-content: space-between;
            justify-content: center;
            align-items: center;
            .live-control {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: space-between;
                align-content: center;
                width: 100%;
                color: white;
                padding: 0 0 2rem;
                h3 {
                    font-size: 4rem;
                    font-weight: 500;
                }
                h5 {
                    text-transform: uppercase;
                    font-size: 1.9rem;
                    border-bottom: 2px solid;
                    border-image-slice: 1;
                    border-width: 2px;
                    border-image-source: linear-gradient(135deg, #C56CD6 0%, #3425AF 100%);
                    font-weight: 400;
                }
            }
            .live-cards {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;
                align-content: center;
                .cards {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    align-items: center;
                    justify-content: space-around;
                    align-items: center;
                    background: #343444;
                    padding: 2rem;
                    border-radius: 2rem;
                    margin: 0 0.8rem;
                    >img {
                        border-radius: 2rem;
                        width: 26rem;
                        margin: 0 auto;
                    }
                    .timer {
                        display: flex;
                        position: absolute;
                        width: 48%;
                        padding: 0.5rem;
                        background-color: #343444;
                        border-radius: 1rem;
                        color: white;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        align-items: center;
                        justify-content: space-evenly;
                        align-content: center;
                        font-size: 1.4rem;
                        i {
                            color: #f44336;
                        }
                    }
                    .place-bid {
                        background-color: white;
                        padding: 0.6rem 3rem;
                        font-size: 1.6rem;
                        border-radius: 1rem;
                        position: absolute;
                        top: 90px;
                        opacity: 0;
                        visibility: hidden;
                        transition: all 1s;
                        i {
                            color: #5142fb
                        }
                    }
                    h3 {
                        color: white;
                        padding: 2rem 0;
                        font-size: 1.7rem;
                        font-weight: 500;
                    }
                    .live-creator {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-bottom: 2px solid #242431;
                        padding: 0 0 2rem 0;
                        >img {
                            border-radius: 2rem;
                            width: 25%;
                        }
                        .creator-info {
                            flex-grow: 1;
                            padding: 0 1rem;
                            color: white;
                            font-size: 1.4rem;
                        }
                        button {
                            outline: none;
                            background: #5142fb;
                            border: 0;
                            padding: 0.3rem 1rem;
                            border-radius: 1rem;
                            color: white;
                            cursor: pointer;
                        }
                    }
                    .current-bid {
                        width: 100%;
                        padding: 1rem 0;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        color: white;
                        .bid {
                            p {
                                font-size: 1.6rem;
                                font-weight: 200;
                            }
                            h4 {
                                font-size: 2rem;
                                span {
                                    font-weight: 200;
                                }
                            }
                        }
                        button {
                            background-color: #14141f;
                            outline: 0;
                            border: 0;
                            color: white;
                            padding: 1rem;
                            border-radius: 1rem;
                            cursor: pointer;
                        }
                    }
                }
                .cards:hover {
                    .place-bid {
                        opacity: 1;
                        visibility: visible;
                        top: 160px;
                        transition: all 1s;
                    }
                }
            }
        }
    }
    section#popular {
        background-color: #14141f;
        .popular-section {
            width: $width;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
            align-content: center;
            padding: 3rem 0;
            color: white;
            .popular-bar {
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                align-items: center;
                align-content: center;
                padding: 3rem 0;
                h3 {
                    font-size: 4rem;
                    font-weight: 500;
                }
                h5 {
                    text-transform: uppercase;
                    font-size: 1.9rem;
                    border-bottom: 2px solid;
                    border-image-slice: 1;
                    border-width: 2px;
                    border-image-source: linear-gradient(135deg, #C56CD6 0%, #3425AF 100%);
                    font-weight: 400;
                }
            }
            .popular-cards {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: center;
                .cards {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    align-items: center;
                    justify-content: space-between;
                    align-content: center;
                    padding: 2rem;
                    background: #343444;
                    margin: 0 2rem;
                    border-radius: 1rem;
                    .popular-gallery {
                        .top-images {
                            display: flex;
                            img {
                                flex-basis: 185px;
                                width: 18rem;
                                padding: 0.4rem;
                                border-radius: 1rem;
                                padding: 0.4rem;
                                border-radius: 1rem;
                            }
                        }
                        .bottom-images {
                            display: flex;
                            img {
                                width: 12rem;
                                padding: 0.4rem;
                                border-radius: 1rem;
                            }
                        }
                    }
                    .popular-info {
                        position: relative;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        align-items: center;
                        justify-content: space-between;
                        align-content: center;
                        width: 100%;
                        font-size: 1.3rem;
                        margin: 2rem 0;
                        img {
                            border-radius: 2rem;
                            width: 7rem;
                        }
                        >i {
                            color: greenyellow;
                            position: absolute;
                            bottom: 0;
                            left: 62px;
                            font-size: 1.5rem;
                        }
                        .popular-name {
                            flex-grow: 1;
                            padding: 0 1rem;
                        }
                        p {
                            span {
                                font-weight: bold;
                            }
                        }
                        button {
                            border: 0;
                            outline: 0;
                            background: #000000b3;
                            padding: 0.6rem 1.5rem;
                            color: white;
                            border-radius: 1rem;
                        }
                    }
                }
            }
        }
    }
    section#top-seller {
        background-color: #14141f;
        .top-seller-container {
            width: $width;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: flex-start;
            justify-content: space-between;
            align-content: center;
            padding: 3rem 0;
            color: white;
            >h3 {
                font-size: 4rem;
                font-weight: 500;
            }
            .top-seller-list {
                display: grid;
                grid-template-columns: auto auto auto auto auto;
                justify-content: space-between;
                align-items: center;
                justify-items: start;
                padding: 4rem 0px;
                width: 100%;
                padding: 1.5rem 0;
                >div {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    padding: 1.5rem 0;
                    img {
                        border-radius: 4rem;
                        width: 10rem;
                    }
                    >div {
                        padding-left: 0.5rem;
                        h3 {
                            font-size: 1.5rem;
                        }
                        p {
                            font-size: 1.2rem;
                        }
                    }
                    i {
                        position: absolute;
                        bottom: 3%;
                        right: 50%;
                        font-size: 3rem;
                        color: #6e5afc;
                    }
                }
            }
        }
    }
    section#today-pick {
        background-color: #14141f;
        padding: 3rem 0;
        color: white;
        .today-pick-bar {
            width: $width;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
            align-content: center;
            justify-content: flex-start;
            .today-pick-header {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                h3 {
                    font-size: 4rem;
                    font-weight: 500;
                }
                h5 {
                    text-transform: uppercase;
                    font-size: 1.9rem;
                    border-bottom: 2px solid;
                    border-image-slice: 1;
                    border-width: 2px;
                    border-image-source: linear-gradient(135deg, #C56CD6 0%, #3425AF 100%);
                    font-weight: 400;
                }
            }
            .today-pick-filter {
                display: grid;
                grid-template-columns: auto auto auto auto auto;
                justify-content: space-between;
                width: 100%;
                padding: 1rem 0;
                margin: 1rem 0;
                .today-filter {
                    grid-column: 1 / 5;
                    button {
                        outline: 0;
                        border: 0;
                        background: transparent;
                        color: white;
                        padding: 0.4rem 1rem;
                        font-size: 2rem;
                        font-family: inherit;
                        border: 1px solid #737282;
                        border-radius: 3rem;
                        padding: 0.8rem 1rem;
                        margin: 0 0.5rem;
                    }
                    button:first-child {
                        margin: 0 0.5rem 0 0;
                    }
                    i {
                        padding-right: 0.3rem;
                    }
                }
                .today-sort {
                    button {
                        outline: 0;
                        border: 0;
                        background: transparent;
                        color: white;
                        padding: 0.4rem 1rem;
                        font-size: 2rem;
                        font-family: inherit;
                        border: 1px solid #737282;
                        border-radius: 3rem;
                        padding: 0.8rem 1rem;
                        i {
                            padding-right: 1rem;
                        }
                    }
                }
            }
            .today-pick-card {
                display: grid;
                grid-template-columns: auto auto auto auto;
                .cards {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    align-items: center;
                    justify-content: space-around;
                    align-items: center;
                    background: #343444;
                    padding: 2rem;
                    border-radius: 2rem;
                    margin: 0 0.8rem 1rem 0;
                    padding: 1.5rem;
                    >img {
                        border-radius: 2rem;
                    }
                    >span {
                        padding: 0.6rem 1rem;
                        background-color: #000000c7;
                        border-radius: 1rem;
                        position: absolute;
                        top: 4rem;
                        right: 4rem;
                        font-size: 1.4rem;
                    }
                    .timer {
                        display: flex;
                        position: absolute;
                        width: 48%;
                        padding: 0.5rem;
                        background-color: #343444;
                        border-radius: 1rem;
                        color: white;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        align-items: center;
                        justify-content: space-evenly;
                        align-content: center;
                        font-size: 1.4rem;
                        i {
                            color: #f44336;
                        }
                    }
                    .place-bid {
                        background-color: white;
                        padding: 0.6rem 3rem;
                        font-size: 1.6rem;
                        border-radius: 1rem;
                        position: absolute;
                        top: 90px;
                        opacity: 0;
                        visibility: hidden;
                        transition: all 1s;
                        i {
                            color: #5142fb
                        }
                    }
                    h3 {
                        color: white;
                        padding: 2rem 0;
                        font-size: 1.7rem;
                        font-weight: 500;
                    }
                    .live-creator {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-bottom: 2px solid #242431;
                        padding: 0 0 2rem 0;
                        >img {
                            border-radius: 2rem;
                            width: 25%;
                        }
                        .creator-info {
                            flex-grow: 1;
                            padding: 0 1rem;
                            color: white;
                            font-size: 1.4rem;
                        }
                        button {
                            outline: none;
                            background: #5142fb;
                            border: 0;
                            padding: 0.3rem 1rem;
                            border-radius: 1rem;
                            color: white;
                            cursor: pointer;
                        }
                    }
                    .current-bid {
                        width: 100%;
                        padding: 1rem 0;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        color: white;
                        .bid {
                            p {
                                font-size: 1.6rem;
                                font-weight: 200;
                            }
                            h4 {
                                font-size: 1.6rem;
                                span {
                                    font-weight: 200;
                                }
                            }
                        }
                        button {
                            font-size: 1.6rem;
                            font-family: inherit;
                            background-color: inherit;
                            outline: 0;
                            border: 0;
                            color: white;
                            padding: 1rem;
                            border-radius: 1rem;
                            cursor: pointer;
                            i {
                                padding-right: 0.4rem;
                            }
                        }
                    }
                }
            }
        }
    }
    footer {
        background-color: #0d0d12;
        color: white;
        .footer-container {
            width: $width;
            padding: 4rem 0;
            margin: 0 auto;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            align-content: center;
            .about-us-footer {
                p {
                    font-size: 1.4rem;
                    font-weight: 300;
                }
            }
            .my-account-footer,
            .resourse-footer,
            .company-footer,
            .suscribe-footer {
                h4 {
                    font-size: 2rem;
                }
                ul {
                    padding: 2rem 0;
                    li {
                        list-style-type: none;
                        font-size: 1.6rem;
                        padding: 0.3rem 0;
                        font-weight: 300;
                    }
                }
            }
            .suscribe-footer {
                position: relative;
                input[type=text] {
                    width: 100%;
                    outline: 0;
                    border: 0;
                    padding: 1rem;
                    border-radius: 0.3rem;
                    background: #ffffff24;
                }
                button {
                    position: absolute;
                    right: 0;
                    bottom: 89px;
                    background-color: #3f51b5;
                    width: 35px;
                    height: 35px;
                    outline: 0;
                    border: 0;
                    padding: 1rem;
                    border-radius: 1rem;
                    i {
                        color: white
                    }
                }
            }
            .footer-social {
                margin: 2rem 0;
                display: grid;
                grid-template-columns: auto auto auto auto auto auto;
                span {
                    color: white;
                    font-size: 2rem;
                    margin: 0.3rem;
                    padding: 0.6rem 0.7rem;
                    background: #4f4f4f;
                    border-radius: 0.6rem;
                }
            }
        }
    }
}