//variabels
$width:1280px;
header {
    background: #00075c40;
}

.container {
    width: $width;
    margin: 0 auto;
    height: 100%;
}

main {
    padding-top: 7.2rem;
    background-image: url('../img/bg.jpg');
    .product-info {
        color: white;
        text-align: center;
        padding: 3rem 0;
        font-size: 2rem;
        h1 {
            font-weight: 600;
            font-size: 5rem;
        }
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            li {
                list-style: none;
                color: #ffffff5c;
                a {
                    text-decoration: none;
                    color: inherit;
                }
            }
            li:after {
                content: '/';
                padding: 0rem 1.6rem;
                color: #ffffff1a;
                font-size: 1.5rem;
            }
            li:last-child:after {
                content: ' ';
                padding: 0rem;
            }
            li:last-child {
                color: white;
            }
        }
    }
    #product-detail {
        background-color: #14141f;
        background: linear-gradient(135deg, #14141f 0%, #191950 100%);
        padding: 3rem 0;
        .grid-2-auto {
            display: grid;
            grid-template-columns: auto auto;
            grid-column-gap: 4rem;
            .product-image {
                img {
                    border-radius: 1rem;
                }
            }
        }
        .product-summery {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: flex-start;
            justify-content: flex-start;
            color: white;
            h1 {
                font-size: 2.4rem;
                font-weight: 400;
            }
            .extra-info {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;
                align-content: center;
                width: 100%;
                margin: 1.5rem 0;
                .left-box {
                    color: #eee;
                    span {
                        padding: 0.3rem 0.7rem;
                        display: inline-block;
                        border: 1px solid;
                        border-radius: 2rem;
                        margin-right: 0.8rem;
                        background: black;
                        font-size: 1.4rem;
                        i {
                            padding-right: 0.3rem;
                        }
                    }
                    span:hover {
                        cursor: pointer;
                        background-color: #591055;
                    }
                }
                .right-box {
                    color: #eee;
                    span {
                        padding: 0.3rem 0.7rem;
                        display: inline-block;
                        margin-right: 0.8rem;
                        font-size: 1.7rem;
                        background-color: #1e5670;
                        border-radius: 2rem;
                    }
                    span:hover {
                        cursor: pointer;
                        background-color: #591055;
                    }
                }
            }
            .product-creator {
                display: grid;
                align-items: center;
                grid-template-columns: auto auto;
                width: 100%;
                grid-column-gap: 2rem;
                .product-owner {
                    display: flex;
                    align-items: center;
                    background-color: #343444;
                    padding: 1rem;
                    border-radius: 1rem;
                    width: 100%;
                    img {
                        width: 5rem;
                        border-radius: 1rem;
                        margin-right: 1rem;
                    }
                    .product-creator-info {
                        h3 {
                            font-weight: 200;
                        }
                        h2 {
                            font-weight: 500;
                        }
                    }
                }
                .product-creator-b {
                    display: flex;
                    align-items: center;
                    background-color: #343444;
                    padding: 1rem;
                    border-radius: 1rem;
                    width: 100%;
                    img {
                        width: 5rem;
                        border-radius: 1rem;
                        margin-right: 1rem;
                    }
                    .product-creator-info {
                        h3 {
                            font-weight: 200;
                        }
                        h2 {
                            font-weight: 500;
                        }
                    }
                }
            }
            >p {
                margin: 2rem 0;
                font-size: 1.5rem;
                font-weight: 400;
                color: #b1b1b1;
            }
            .product-price {
                display: flex;
                align-items: center;
                justify-content: space-between;
                align-content: center;
                width: 100%;
                .product-current-bid {
                    background-color: #343444;
                    padding: 1rem;
                    border-radius: 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 48%;
                    h4 {
                        font-weight: 300;
                        font-size: 1.6rem;
                    }
                    span {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 1.4rem;
                        h5 {
                            font-size: 1.8rem;
                            font-weight: 500;
                        }
                    }
                }
                .product-countdown {
                    background-color: #343444;
                    padding: 1rem;
                    border-radius: 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 48%;
                    h4 {
                        font-weight: 300;
                        font-size: 1.6rem;
                    }
                    span {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 1.4rem;
                        font-weight: 600;
                    }
                }
            }
            button {
                margin: 2rem 0;
                outline: none;
                background-color: transparent;
                border: 1px solid white;
                border-radius: 2rem;
                width: 100%;
                padding: 1rem;
                color: white;
                font-size: 1.8rem;
                font-weight: 600;
                font-family: inherit;
            }
            button:hover {
                cursor: pointer;
                background-color: #9c27b0;
            }
            .bid-summery {
                display: flex;
                h5 {
                    padding: 1rem 1rem 1rem 0;
                    font-size: 2rem;
                    font-weight: 300;
                    a {
                        text-decoration: none;
                        padding-bottom: 1.2rem;
                        color: #fff
                    }
                    a:hover {
                        color: #fff
                    }
                }
                .active {
                    font-weight: 400;
                    border-bottom: 1px solid #5142fa;
                    color: #5142fa;
                }
            }
            ul {
                margin: 1rem 0;
                width: 100%;
                li {
                    position: relative;
                    margin-bottom: 0.8rem;
                    list-style: none;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    img {
                        width: 7rem;
                        border-radius: 1rem;
                        margin-right: 1rem;
                    }
                    .bid-info-left {
                        display: flex;
                        align-items: center;
                        .bids-info {
                            h4 {
                                font-size: 1.6rem;
                                span {
                                    font-size: 1.3rem;
                                    font-weight: 200;
                                    padding: 0 0.5rem;
                                }
                            }
                            h6 {
                                font-size: 1.3rem;
                                font-weight: 200;
                                padding: 0 0.5rem;
                            }
                        }
                    }
                    .bid-range {
                        font-size: 1.6rem;
                        h4:first-child {
                            font-weight: 400;
                            font-weight: 500;
                        }
                        h4 {
                            font-weight: 300;
                        }
                    }
                }
            }
        }
        h1::after {
            content: " \" ";
        }
        h1::before {
            content: " \" ";
        }
    }
}

#live-action {
    background: linear-gradient(135deg, #65799b 0%, #5e2563 100%);
}